
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <div class="container" id="navbar">
    
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Home/Index</a>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">All Locations <span class="sr-only">(current)</span></a>
        </li>
    </div>
    
  <!-- End of navbar contianer -->
  </div>
</nav>


<div class="container" id="location">

  <div class="row">
    <div class="col-6">
        <a href="https://www.google.com/maps/place/51.848637,+-0.55462/">
          <img src="https://maps.googleapis.com/maps/api/staticmap?center=51.848637,+-0.55462&zoom=17&scale=false&size=600x300&maptype=satellite&format=png&visual_refresh=true" alt="Google Map of 51.848637, -0.55462"></a>
    </div>
  </div>
  
  <div class="row">
    <div class="col-6">
      <span>Star Rating 1-5</span>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="form-group row">
        <div class="col-6">
          <input class="form-control" type="text" value="Latitude" id="example-text-input">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-6">
          <input class="form-control" type="text" value="Longitude" id="example-text-input">
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-6">
      <button type="button" class="btn btn-primary">Random Location</button>
      <button type="button" class="btn btn-success">New Location</button>
    </div>
  </div>
  
  <!-- End of location contianer -->
</div>
  
<div class="container" id="comments">
  <div class="row">
    <div class="col-6">
      <h2>Comments</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin varius dolor in auctor tristique. 
        Donec sit amet libero venenatis, sollicitudin mauris et, mattis sapien. Duis justo risus, semper 
        eget ullamcorper eu, semper et diam. Nam condimentum dolor ut mi pharetra volutpat. Integer 
        fermentum posuere auctor. In rutrum accumsan dui non sodales. Mauris posuere faucibus ipsum, 
        at fringilla dui dignissim ut. Curabitur egestas elementum rutrum. Quisque feugiat mi non lacus 
        volutpat, ac feugiat turpis consequat. Quisque eu nisi malesuada, auctor ipsum ac, tempor risus. 
        Duis viverra porta lacus, ac mattis erat feugiat eu. Duis nec metus nisi. Vestibulum mattis non 
        metus sed hendrerit.
      </p>
    </div>
    
  </div>
  
  <div class="row">
    <div class="col-6 text-right">
      <button type="button" class="btn btn-info pull-right">Comment</button>
    </div>
  </div>

<!--End of comment contianer -->
</div>




