// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.btn {
    color: white;
}
body{
    background-image: url("http://www.wallpapers-web.com/data/out/34/4006435-blank-world-map-wallpapers.png");
    background-color: #white;
    background-repeat: no-repeat;
}

input[type=text] {
    width: 50%;
    padding: 12px 12px;
    border: 2px solid #ccc;
    background-color: #d3d3d3;
}

input[type=button], input[type=submit] {
    background-color: #0094ff;
    float: right;
    border: none;
    color: white;
    padding: 16px 20px;
    text-decoration: none;
    cursor: pointer;
}

.scrollbar
{
    margin-left: 30px;
    float: left;
    height: 300px;
    width: 750px;
    overflow-y: scroll;
    margin-bottom: 25px;
}

.force-overflow
{
    min-height: 450px;
}

#wrapper
{
    text-align: left;
    width: 500px;
    margin: auto;
}
