// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#navcolor{
    background-color: hsla(190, 1%, 57%, .15);
}

.btn {
    color: white;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #dd5100;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0px;
}

.button:hover {
    background-color: #f47429;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -10px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 15px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

iframe {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 10px 25px 0 rgba(0, 0, 0, 0.19);
}

.navbar {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.03), 0 6px 18px 0 rgba(0, 0, 0, 0.08);
}

body{
    background: url("https://lh3.googleusercontent.com/-APm0YyiqLrA/WQIMI9vmSJI/AAAAAAAALbM/RbivCQecfDMQg40cJbluwLneS1mPazmfQCL0B/w663-d-h373-p-rw/websitebackground.png") no-repeat center center fixed;
    -webkit-background-size: cover; 
    -moz-background-size: cover;    
    -o-background-size: cover;    
    background-size: cover;
}

input[type=text] {
    width: 50%;
    padding: 12px 12px;
    border: 2px solid #ccc;
    background-color: #d3d3d3;
}

.scrollbar
{
    margin-left: 10px;
    height: 300px;
    width: 600px;
    overflow-y: scroll;
    margin-bottom: 25px;
    background-color: hsla(190, 1%, 57%, .2);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3), 0 8px 25px 0 rgba(0, 0, 0, 0.19);
}

.force-overflow
{
    min-height: 200px;
}

#wrapper
{
    text-align: left;
    width: 500px;
    margin: auto;
}

#footer {
    position: fixed;
    bottom: 0;
    right: 0;
    opacity: .3;
    padding: 10px;
}

#navbaricon{
    
}

.add-comment{
    display: inline-block;
    width: 150px;
    height: 75px;
    margin: 10px;
}

/*Rating Stars*/

.rating_star{
    width: 20px;
    height: 20px;
    display: block;
    float: left;
}

.on{
    background-position: 0 16px;
}


/*Listing Locations Table*/

.pretty th .current {
    padding-right: 25px;
    background-repeat: no-repeat;
    background-position: right center;
}

.pretty th .asc {
    background-image: url('/assets/up_arrow.png');
}

.pretty th .desc {
    background-image: url('/assets/down_arrow.png');
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: hsla(0, 0%, 49%, 0.20);
}

.thead-bg {
    background-color: hsla(0, 0%, 38%, 0.39);
    color: #383838;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: hsla(15, 100%, 66%, 0.13);
}

.table-bordered > thead > tr > th, .table-bordered > thead > tr > td{
    border: 0.1px solid #9b9b9b;
}

.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
   border: 0.1px solid #c1c1c1;
}

.alignment{
   text-align: center;   
}

/*Container for buttons located at the bottom of some views*/
.bbcontainer{
    padding-bottom: 50px;
}


/*New location button effects*/
.new-location {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  font-weight:bolder;
  height: 38px;
  padding-left: 10px;
  padding-right: 10px;
  width: 73px;
  transition: all 0.3s;
  cursor: pointer;
  margin-top: 1px;
}

.new-location:hover{
    font-weight: normal;    
    font-size: 16px;
	width: 135px;
    height: 38px;
    padding-left: 10px;
}

.new-location span {
    cursor: pointer;
    display: inline-block;
    position: relative;
}

.new-location span:after {
    font-weight: normal;
    content: 'New Location';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -10px;
    font-size: 16px;
}

.new-location:hover span {
    padding-right: 105px;
}

.new-location:hover span:after {
    transition: 0.5s;
    opacity: 1;
    right: 0;
}

.new-location:focus {
    outline: none;
}