// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.btn {
    color: white;
}

body{
    background: url("https://lh3.googleusercontent.com/-MBG-mXTGIVg/WO6x5i5nLqI/AAAAAAAALXc/m_KFRPtJ0JEXFZdUAo4QBiQAAxPN_QGIgCL0B/w663-d-h373-p-rw/here.png") no-repeat center center fixed;
    -webkit-background-size: cover; 
    -moz-background-size: cover;    
    -o-background-size: cover;    
    background-size: cover;
}

input[type=text] {
    width: 50%;
    padding: 12px 12px;
    border: 2px solid #ccc;
    background-color: #d3d3d3;
}

.scrollbar
{
    margin-left: 10px;
    height: 300px;
    width: 750px;
    overflow-y: scroll;
    margin-bottom: 25px;
    background-color: hsla(190, 1%, 57%, .2);
}

.force-overflow
{
    min-height: 450px;
}

#wrapper
{
    text-align: left;
    width: 500px;
    margin: auto;
}

#footer {
    position: fixed;
    bottom: 0;
    right: 0;
    opacity: .3;
    padding: 10px;
}

#navbaricon{
    
}

.rating_star{
    width: 20px;
    height: 20px;
    display: block;
    float: left;
}

.on{
    background-position: 0 16px;
}

.pretty th .current {
    padding-right: 25px;
    background-repeat: no-repeat;
    background-position: right center;
}

.pretty th .asc {
    background-image: url('/assets/up_arrow.png');
}

.pretty th .desc {
    background-image: url('/assets/down_arrow.png');
}
