<div class="container">
    <h1>Editing Location</h1>
    
    <%= render 'form' %>
    
    <%= link_to 'Show', @location, class: "btn btn-primary btn-sm" %> |
    <%= link_to 'Back', locations_path, class: "btn btn-warning btn-sm" %>
</div>